body {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
    overflow-y: hidden
  }
.loading-image{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* background: url(./assets/loader.jpg) center no-repeat #fff; */
}
.row-pb-md {
  padding-bottom: 4em !important;
}
#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
  .cover-image {
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, .5); */
    transition: .5s;
}
.display-t{
  /* height: 900px; */
  width: 100%;
}
.display-tc{
  margin-top:300px;
  color: white;
}
.btn-blue{
  background :#3B5998;
  box-shadow: -2px 2px 5px black;
}

.btn-red{
  background :#ed143d;
  box-shadow: 0px 2px 5px black;
}
.display-tc h1 {
    font-size: 100px;
    line-height: 1.5;
    font-family: 'Dancing Script', cursive;
  }
  .parliament-switch{
    margin-top: 40px;
}
.parliament-switch a{
    color: #fff;
    text-decoration: none;
}
@font-face {
    font-family:lionello;
    src: url('./assets/fonts/TechnaSans-Regular.otf');
  }
q {
    display: block;
    margin: 1.2rem 0;
    font-weight: 800;
    font-size: 26px;
    font-size: 2.6rem;
    font-family:lionello;
    -webkit-text-fill-color: transparent;
    background: -webkit-gradient(linear,left top,right bottom,from(#FF0097),to(#FC70C3));
    background: -o-gradient(linear,left top,right bottom,from(#FF0097),to(#FC70C3));
   -webkit-background-clip: text;
   transition:font-size 1s;
  }
 q:hover{
     font-size: 40px;
 }
  
  q:before { 
      content: '';
  }
  q1 {
    display: block;
    margin: 1.2rem 0;
    font-weight: 800;
    font-size: 26px;
    font-size: 2.6rem;
    font-family:lionello;
    -webkit-text-fill-color: transparent;
    background: -webkit-gradient(linear,left top,right bottom,from(#FC70C3),to(#FFFFFF));
    background: -o-gradient(linear,left top,right bottom,from(#FC70C3),to(#FFFFFF));
   -webkit-background-clip: text;
   transition:font-size 1s;
  }
 
  q1:hover{
    font-size: 40px;
}
  q1:before { 
      content: '';
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
      -ms-transform: scale(0.95);
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }
  
    to {
      opacity: 1;
      -ms-transform: scale(1.0);
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
  
  .fadeIn {
    /* visibility: visible; */
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      visibility: hidden;
      /*-webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);*/
      -webkit-transform: translate3d(0, 40px, 0);
      transform: translate3d(0, 40px, 0);
    }
  
    to {
      visibility: visible;
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
  }
  